<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Styles -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/app.css">

    <title>Dice</title>
</head>
<body>
    <div id="app">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-0-phone">
                </div>
                <div
                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                    <div class="mdc-card mdc-card--outlined">
                        <div class="mdc-card__primary">
                            <h2 class="mdc-card__title mdc-typography--headline6">{{ title }}</h2>
                            <h3 class="mdc-card__subtitle mdc-typography--subtitle2">{{ subtitle }}</h3>
                        </div>
                        <div class="mdc-card__secondary mdc-typography--body2">
                            <div class="mdc-layout-flexbox mdc-layout-flexbox__centered">
                                <div v-for="die in dice" class="mdc-layout-grid__cell">
                                    <div v-if="die == 1" class="face first-face">
                                        <div class="dot"></div>
                                    </div>
                                    <div v-if="die == 2" class="face second-face">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div v-if="die == 3" class="face third-face">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div v-if="die == 4" class="face fourth-face">
                                        <div class="column">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                        <div class="column">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                    </div>
                                    <div v-if="die == 5" class="face fifth-face">
                                        <div class="column">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                        <div class="column">
                                            <div class="dot"></div>
                                        </div>
                                        <div class="column">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>    
                                    </div>
                                    <div v-if="die == 6" class="face sixth-face">
                                        <div class="column">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>
                                        <div class="column">
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                            <div class="dot"></div>
                                        </div>    
                                    </div>
                                </div>
                            </div>

                            <div class="mdc-layout-grid__inner">
                                <div
                                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-0-phone">
                                </div>
                                <div
                                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                                    <button class="mdc-button mdc-button--outlined" v-on:click="roll()">Roll</button>
                                </div>
                                <div
                                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-0-phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-0-phone">
                </div>
            </div>
        </div>
    </div>


    <!-- Scripts -->
    <!-- Development version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- Production version -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
